<section class="services">
	<div class="container services__container">
		<h2 class="services__title visually-hidden">Our Services for You</h2>
		<ul class="services__list">
			<li class="services__item">
				<a class="services__item-link" href="#">
					<h5 class="services__item-subtitle">Our Services</h5>
					<h3 class="services__item-title">Our Services for You</h3>
					<p class="services__item-text services__item-text--first">
						Lorem ipsum
					</p>
					<span class="services__item-line"></span>
					<p class="services__item-text services__item-text--second">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut
					</p>
				</a>
			</li>

			<li class="services__item">
				<a class="services__item-link" href="#">
					<div class="services__item-icon">
						<img
							src="/img/services/arrow.svg"
							alt="arrow icon"
							width="50"
							height="50"
							loading="lazy"
						/>
					</div>
					<h3 class="services__item-title">Bitcoin Escrow Service</h3>
					<p class="services__item-text services__item-text--first">
						Lorem ipsum
					</p>
					<span class="services__item-line"></span>
					<p class="services__item-text services__item-text--second">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut
					</p>
				</a>
			</li>

			<li class="services__item">
				<a class="services__item-link" href="#">
					<div class="services__item-icon">
						<img
							src="/img/services/cash.svg"
							alt="arrow icon"
							width="50"
							height="50"
							loading="lazy"
						/>
					</div>
					<h3 class="services__item-title">Safe And Secure</h3>
					<p class="services__item-text services__item-text--first">
						Lorem ipsum
					</p>
					<span class="services__item-line"></span>
					<p class="services__item-text services__item-text--second">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut
					</p>
				</a>
			</li>

			<li class="services__item">
				<a class="services__item-link" href="#">
					<div class="services__item-icon">
						<img
							src="/img/services/wallet.svg"
							alt="arrow icon"
							width="50"
							height="50"
							loading="lazy"
						/>
					</div>
					<h3 class="services__item-title">Integrated App</h3>
					<p class="services__item-text services__item-text--first">
						Lorem ipsum
					</p>
					<span class="services__item-line"></span>
					<p class="services__item-text services__item-text--second">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut
					</p>
				</a>
			</li>

			<li class="services__item">
				<a class="services__item-link" href="#">
					<div class="services__item-icon">
						<img
							src="/img/services/cash.svg"
							alt="arrow icon"
							width="50"
							height="50"
							loading="lazy"
						/>
					</div>
					<h3 class="services__item-title">Safe And Secure</h3>
					<p class="services__item-text services__item-text--first">
						Lorem ipsum
					</p>
					<span class="services__item-line"></span>
					<p class="services__item-text services__item-text--second">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut
					</p>
				</a>
			</li>

			<li class="services__item">
				<a class="services__item-link" href="#">
					<div class="services__item-icon">
						<img
							src="/img/services/wallet.svg"
							alt="arrow icon"
							width="50"
							height="50"
							loading="lazy"
						/>
					</div>
					<h3 class="services__item-title">Safe And Secure</h3>
					<p class="services__item-text services__item-text--first">
						Lorem ipsum
					</p>
					<span class="services__item-line"></span>
					<p class="services__item-text services__item-text--second">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt ut
					</p>
				</a>
			</li>
		</ul>
	</div>
</section>
