html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	color: #fff;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	background-color: #0b0b0f;
}

button {
	color: #fff;
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 100%;
	max-width: 375px;
	padding: 0 15px;
	margin: 0 auto;
}

@media screen and (min-width: 1024px) {
	.container {
		max-width: 1024px;
		padding: 0 60px;
	}
}

@media screen and (min-width: 1440px) {
	.container {
		max-width: 1440px;
		padding: 0 130px;
	}
}
