/* .services {
} */

.services__container {
	padding-bottom: 120px;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.services__item {
	max-width: 346px;
	border-radius: 25px;
	border: 2px solid rgba(255, 255, 255, 0.3);

	background: linear-gradient(
			180deg,
			rgba(223, 29, 255, 0.2) 0%,
			rgba(72, 205, 255, 0) 100%
		),
		linear-gradient(
			180deg,
			rgba(41, 46, 75, 0.38) 0%,
			rgba(48, 58, 120, 0.5) 100%
		);

	backdrop-filter: blur(50px);

	transition: border-color ease 0.5s;
	&:hover {
		border-color: #b982ff;
	}
}

.services__item:first-child {
	.services__item-title {
		font-size: 24px;
		font-weight: 900;
	}

	.services__item-text--second {
		color: #e9ecef;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
	}
}

.services__item-link {
	display: flex;
	padding: 27px 19px;
	flex-direction: column;
	align-items: start;
	gap: 20px;
}

.services__item-subtitle {
	display: none;
}

.services__item-icon {
	display: none;
	flex-shrink: 0;
}

.services__item-title {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.3;
}

.services__item-text {
	line-height: 1.4;
}

.services__item-text--first {
	color: rgba(233, 236, 239, 0.7);
}

.services__item-text--second {
	color: #e9ecef;
	font-size: 14px;
	font-weight: 600;
}

.services__item-line {
	width: 100%;
	height: 1px;
	background: linear-gradient(76deg, #fff 21.32%, #ababab 84.53%);
}

/* @media screen and (min-width: 1024px) {
} */

@media screen and (min-width: 1440px) {
	.services__container {
		padding-bottom: 200px;
	}

	.services__item {
		max-width: calc((100% - 40px) / 3);
		border-color: transparent;
	}

	.services__item:first-child {
		.services__item-link {
			padding: 27px 19px;
			align-items: start;
		}

		.services__item-title {
			font-size: 50px;
			text-align: start;
			height: 116px;
		}

		.services__item-text {
			text-align: start;
		}
	}

	.services__item-link {
		align-items: center;
		justify-content: center;
		gap: 16px;
	}

	.services__item-subtitle {
		display: block;
		max-width: 111px;
		color: #b982ff;
		font-size: 20px;
		font-weight: 600;
		line-height: 1.3;
	}

	.services__item-icon {
		display: block;
		width: 80px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-image: url(/img/services/bg-icon.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
	}

	.services__item-title {
		text-align: center;
		font-size: 32px;
		height: 84px;
	}

	.services__item-text--first {
		display: none;
	}

	.services__item-text--second {
		color: #adb5bd;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
	}

	.services__item-line {
		display: none;
	}
}
